html{
    overflow-x: hidden;
}
body {
    font-family: "Roboto Mono", monospace;
    overflow-x: hidden;
}
.header {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0.5))), url("../images/masr-elgteda-3bat.jpg");
    background-image:-o-linear-gradient(rgba(0,0,0,0.5) 0 100%), url("../images/masr-elgteda-3bat.jpg");
    background-image:linear-gradient(rgba(0,0,0,0.5) 0 100%), url("../images/masr-elgteda-3bat.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.content{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #EEF7FF;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(77, 134, 156,0.5);
}

#canvas{
    position: absolute;
    inset: 0;
    cursor: crosshair;
	display: block;
    width: 100%;
    height: 100vh;
}
/* numbers */
.number-section .card {
    padding: 15px;
    background-color: #EEF7FF;
    color: #4D869C;
    border: none;
    -webkit-box-shadow: 1px 1px 5px  gray;
            box-shadow: 1px 1px 5px  gray;
}
.number-section .card i{
    font-size: 30px;
    color: #4D869C;
}
.number-section .card h3 {
    font-weight: 700;
    margin: 5px 0;
}
.number-section .card p {
    font-size: 25px;
    font-weight: 600;
}
/* video */
.video-section {
    background-color: #EEF7FF;
}
/* portfolio */
.portfolio {
    background-color:#EEF7FF; 
}
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.dmo-container {
    background-color: ;
}
h1 {
	font-size: 2rem;
}

.dominos-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 2em;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 1vw;
}
.colon,
.ampm {
	font-size: 5em;
}
.domino {
	width: 12em;
	background: -webkit-gradient(linear, left top, right bottom, from(#7AB2B2), to(#4D869C));
	background: -o-linear-gradient(top left, #7AB2B2, #4D869C);
	background: linear-gradient(to bottom right, #7AB2B2, #4D869C);
	-webkit-box-shadow: inset 0.1em 0.1em 0.2em rgba(135, 206, 250, 0.2), 
            inset -0.1em -0.1em 0.2em #4D869C, 
            0.1em 0.1em 2em #7AB2B2;
	        box-shadow: inset 0.1em 0.1em 0.2em rgba(135, 206, 250, 0.2), 
            inset -0.1em -0.1em 0.2em #4D869C, 
            0.1em 0.1em 2em #7AB2B2;
	display: -ms-grid;
	display: grid;
	border-radius: 1em;
	gap: 2em;
	padding: 2em;
}
.domino::before {
	content: "";
	height: 0.25em;
	background: white;
	-ms-grid-row: 2;
	grid-row: 2;
	border-radius: 0.25em;
}
.domino .part {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1em 1fr 1em 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.part span {
	aspect-ratio: 1/1;
	width: 100%;
	border-radius: 50%;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(240, 240, 240)));
	background-image: -o-linear-gradient(transparent 50%, rgba(240, 240, 240) 50%);
	background-image: linear-gradient(transparent 50%, rgba(240, 240, 240) 50%);
	background-size: 100% 220%;
	background-position: 0 0%;
	-webkit-transition: background-position 0.25s ease;
	-o-transition: background-position 0.25s ease;
	transition: background-position 0.25s ease;
}

.part span.active {
	background-position: 0 -90%;
}
/* login page */
.login-form {
    height: 100vh;
    background-color: #4D869C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.login-form .form-container {
    background-color: #7AB2B2;
    padding: 20px 30px;
}
#subBtn {
    border: 1px solid #fff;
    border-radius: 100vh;
    color: #fff;
}
